:root {
  --tan: rgba(0, 0, 0, 0.2);
}
header {
  background-image:
    linear-gradient(145deg, var(--tan) 50%, var(--tan) 50%),
    url("../images/banner.jpg");
  background-size: cover;
  overflow: hidden;
}
header nav.container {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
header nav .logo {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
header nav ul {
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
header nav ul li a {
  cursor: pointer;
  font-weight: semi-bold;
  font-size: 1.5rem;
}
header .hero {
  /* border: yellow 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 100px auto;
}
.hero .icon {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: white 1px solid;
  border-radius: 50%;
}
.hero h1 {
  margin-top: 5px;
  text-decoration: overline wavy #fff 2px;
  text-align: justify;
}
.hero p {
  width: 40%;
  text-align: justify;
  text-wrap: wrap;
  font-size: 1.1rem;
}
.hero a {
  text-align: center;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border-radius: 40px;
}
@media (max-width: 575px) {
  header {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ul {
        margin: 15px 0 0 0;
      }
    }
    .hero {
      margin-top: 50px;
      h1 {
        font-size: 1.75rem;
      }
    }
  }
}
header .hero p {
  width: 90%;
}
/* small */
@media (min-width: 576px) {
  header .hero p {
    width: 70%;
  }
}
/* medium */
@media (min-width: 768px) {
  header .hero p {
    width: 40%;
  }
}
@media (min-width: 992px) {
  header .hero p {
    width: 32%;
  }
}
@media (min-width: 1200px) {
  header .hero p {
    width: 32%;
  }
  header .hero {
    margin: 110px auto;
  }
  header .hero {
    gap: 24px;
  }
}
@media (min-width: 1400px) {
  header .hero p {
    width: 32%;
  }
  header .hero {
    margin: 120px auto;
  }
  header .hero {
    gap: 30px;
  }
}
