.container
{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
/* MEDIUM SCREEN */
@media(min-width : 768px) { 
    .container { 
        width: 90%;
    }
}
/* LARGE SCREEN */
@media(min-width : 992px) { 
    .container { 
        width: 85%;
    }
}
/* XL SCREEN */
@media(min-width : 1200px) {
    .container { 
        width: 85%;
    }
}
/* XXL SCREEN */
@media(min-width : 1400px)  {
    .container { 
        width: 75%;
    }
}